.portfolio {
    height: 155vh;
}
.portfolio__container {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    
}

.portfolio_item {
    background-color: rgb(59, 59, 59);
    padding: 1.3rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    height: 92%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.proj-img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* .middle {
    transition: .5s ease;
    opacity: 0;
    text-align: center;
  } */

  .middle {
    transition: .5s ease;
    opacity: 0;
    /* top: 50%;
    left: 50%; */
    transform: translate(0,-400%);
    /* -ms-transform: translate(-50%, -50%); */
    text-align: center;
  }

.portfolio_item:hover {
    background: transparent;
    border-color: white;
}
.portfolio_item:hover .proj-img{
    opacity: 0.3;
}

.portfolio_item:hover .middle{
    opacity: 1;
}

.text {
    background-color: rgb(33, 33, 33);
    color: white;
    font-size: 25px;
}

.bottom {
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    transform: translate(0,0);

}

.portfolio_item:hover .bottom{
    opacity: 1;
}

button {
    cursor: pointer;
}

.popup-content {
  align-items: center;
  justify-content: center;
  text-align: center;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {

  .portfolio {
    height: 230vh;
  }


  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {

  .portfolio {
    height: 350vh;
  }

  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}