header {
    overflow: hidden;
    height: 100%;

}

.header__container {
    text-align: center;
    height: 100%;
    padding-top: 7rem;

    position: relative;
    transition: 0.4s;

}

.landing {
    background-color: black;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* image */

/* .me {
    background-color: ;
} */

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
    header {
        overflow: hidden;

        height: 20vh;
    }
    
    .scroll_down {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 20vh;
    }

    .scroll_down {
        display: none;
    }
}